//Variables
$w: 15px;
$black: #231815;
$white: #fff;

//Mixin
@mixin border-radius($horizontal_radius, $vertical_radius: false) {
	@if $vertical_radius{
  		-webkit-border-radius: $horizontal_radius / $vertical_radius;
  		-moz-border-radius: $horizontal_radius / $vertical_radius;
  		-ms-border-radius: $horizontal_radius / $vertical_radius;
  		-o-border-radius: $horizontal_radius / $vertical_radius;
  		border-radius: $horizontal_radius / $vertical_radius;
	}@else{
		$border_radius: $horizontal_radius;
		-webkit-border-radius: $border_radius;
		-moz-border-radius: $border_radius;
		-ms-border-radius: $border_radius;
		-o-border-radius: $border_radius;
		border-radius: $border_radius;
	}
}
@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}
@mixin skew($x: 0deg, $y: 0deg) {
  -webkit-transform: skew($x, $y);
  -moz-transform: skew($x, $y);
  -ms-transform: skew($x, $y);
  -o-transform: skew($x, $y);
  transform: skew($x, $y);
}
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}
